body {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    line-height: 1.5;
    background-color: #000;
    font-family: "raleway-400", sans-serif;
    overflow-x: none;
}

.title {
    margin: 0;
    width: 100vw;
    text-align: center;
    border-bottom: solid darkgray 0.05vh;
    height: 5.5vh;
}

.title h2 {
    margin: 0;
    margin-bottom: 0.5vh;
}

.mainContent {
    margin: 0;
    width: 100vw;
    height: 89vh;
    display: flex;
    flex-direction: row;
}

.tableOfContents {
    height: 89vh;
    width: 20vw;
    background-color: #2997ff;
    display: flex;
    flex-direction: column;
}

.tocHeader {
    width: 20vw;
    height: 7vh;
    background-color: #000;
    border-bottom: solid darkgray 0.05vh;
}

.tocHeader p {
    width: 20vw;
    height: 7vh;
    font-size: large;
    text-align: center;
}

.tocContents {
    width: 20vw;
    height: 77vh;
    background-color: #000;
}

.tocFooter {
    width: 20vw;
    height: 5vh;
    background-color: #000;
    border-top: solid darkgray 0.05vh;
}

.tocFooter p {
    width: 20vw;
    height: 5vh;
    font-size: small;
    text-align: center;
}

.articleContent {
    height: 89vh;
    width: 80vw;
    background-color: #000;
    border-left: solid darkgray 0.05vh;
    overflow-y: auto;
}

article {
    margin: 1vw;
}

article h1 {
    text-align: center;
}

.footer {
    margin: 0;
    width: 100vw;
    border-top: solid darkgray 0.05vh;
    height: 1vh;
}

.footer p {
    width: 100vw;
    text-align: center;
    font-size: small;
    margin-top: 1vh;
}

a {
    /*color: #ffd82c;*/
    color: #2997ff;
}

code {
    border-radius: 0.5vw;
}

.articleport {
    align-items: stretch;
}

.highlightInline {
    display: inline;
}

.inlineCode {
    font-family: "JetBrainsMono-400", monospace;
    color: #ccc;
}

.quizSect {
    background-color: #011627;
    border-radius: 0.5vw;
    padding: 1vw;
}

.quizSect > button {
    border: 0px solid #000;
    border-radius: 0.5vw;
    padding: 0.555vw;
    background-color: #000;
    color: #fff;
}

.qtitle {
    background-color: #a70335;
    border-radius: 0.5vw;
    color: #fff;
    padding: 0.25vw;
}

.mcqDiv {
    line-height: 1.5 !important;
}

.divOneFveHt {
    text-align: left;
    line-height: 1.5;
}

@font-face {
    font-family: 'raleway-300';
    src: url('fonts/Raleway-300.ttf') format('truetype');
}


@font-face {
    font-family: 'raleway-400';
    src: url('fonts/Raleway-400.ttf') format('truetype');
}

@font-face {
    font-family: 'raleway-700';
    src: url('fonts/Raleway-700.ttf') format('truetype');
}

@font-face {
    font-family: 'JetBrainsMono-400';
    src: url('fonts/JetBrainsMono-400.ttf') format('truetype');
}