@font-face {
    font-family: 'raleway-300';
    src: url('fonts/Raleway-300.ttf') format('truetype');
}


@font-face {
    font-family: 'raleway-400';
    src: url('fonts/Raleway-400.ttf') format('truetype');
}

@font-face {
    font-family: 'raleway-700';
    src: url('fonts/Raleway-700.ttf') format('truetype');
}

@font-face {
    font-family: 'JetBrainsMono-400';
    src: url('fonts/JetBrainsMono-400.ttf') format('truetype');
}

:root {
    --sectionBorderColor: #444;
    --textColor: #fff;
    --backgroundColor: #000;
    --tocItem: rgba(255, 255, 255, 0.1);
    --tocItemSel: rgba(255, 255, 255, 0.2);
    --accent: #024;
    --accentText: #fff;
}

:root .light {
    --textColor: #000;
    --backgroundColor: #fff;
    --tocItem: rgba(0, 0, 0, 0.1);
    --tocItemSel: rgba(0, 34, 68, 0.5);
    --accent: #024;
    --accentText: #fff;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--textColor);
    line-height: 1.5;
    background-color: var(--backgroundColor);
    font-family: "raleway-400", sans-serif;
    overflow-x: none;
}

.title h2 {
    margin: 0;
    margin-bottom: 0.5vh;
}

.mainContent {
    margin: 0;
    width: 100vw;
    height: 94vh;
    display: flex;
    flex-direction: row;
}

.tableOfContents {
    height: 94vh;
    width: 20vw;
    /*background-color: #2997ff;*/
    display: flex;
    flex-direction: column;
}

.tocHeader {
    width: 20vw;
    height: 7vh;
    background-color: var(--backgroundColor);
    border-bottom: solid var(--sectionBorderColor) 0.05vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tocHeader p {
    width: 20vw;
    font-size: large;
    text-align: center;
}

.tocContents {
    width: 20vw;
    height: 82.5vh;
    background-color: var(--backgroundColor);
    overflow-y: auto;
}

.tocItem {
    flex-basis: fit-content;
    background-color: var(--tocItem);
    border-radius: 0.2em;
    margin: 0.35vh 0.5vw 0.35vh 0.5vw;
    /*padding-left: 1vw;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 5vh;
    padding: 0.75em;
}

.tocContents:first-child {
    margin-top: 2vh !important;
}

.tocItemTitleHolder {
    width: 18vw;
    text-align: left;
    word-wrap: break-word;
    overflow-wrap: break-word;
    margin-left: 1vw;
}

.tocItemTitleHolder span {
    text-indent: 10px;
    margin-left: 1em !important;
}

.tocIconHolder {
    width: 2vw;
}

.tocComplete .tocItemTitleHolder::before {
    display: inline-flex;
    position: relative;
    content: '';
    background-image: url(icons/check_filled.svg);
    background-size: 1em 1em;
    height: 1em;
    width: 1em;
    top: 0.2em;
    margin-right: 0.75em;
}

.tocIncomplete .tocItemTitleHolder::before{
    display: inline-flex;
    position: relative;
    content: '';
    background-image: url(icons/check_empty.svg);
    background-size: 1em 1em;
    height: 1em;
    width: 1em;
    top: 0.2em;
    margin-right: 0.75em;
}

.tocSelectedItem {
    background-color: var(--tocItemSel);
}

.tocFooter {
    width: 20vw;
    height: 5vh;
    background-color: var(--backgroundColor);
    border-top: solid var(--sectionBorderColor) 0.05vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tocFooter p {
    width: 20vw;
    font-size: small;
    text-align: center;
}

.articleContent {
    height: 94vh;
    width: 80vw;
    background-color: var(--backgroundColor);
    border-left: solid var(--sectionBorderColor) 0.05vh;
    overflow-y: auto;
    display: flex;
}

article {
    margin: 5vw;
    width: 80vw;
}

article h1 {
    text-align: center;
}

.footer {
    margin: 0;
    width: 100vw;
    border-top: solid var(--sectionBorderColor) 0.05vh;
    height: 4vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footerContainer {
    display: flex;
    flex-direction: row;
}

.settings {
    margin-top: 1.75vh;
    margin-left: 1.5vh;
    width: 49vw;
}

.settings span, .rightToolbar span {
    position: relative;
    bottom: 0.5vh;
}

.rightToolbar {
    margin-top: 1.75vh;
    margin-left: 1.5vh;
}

a {
    color: #2997ff;
}

pre, code {
    width: 69vw;
    border-radius: 0.5vw;
}

.highlightInline {
    display: inline;
}

.inlineCode {
    font-family: "JetBrainsMono-400", monospace;
    color: #ccc;
}

.quizSect {
    background-color: #011627;
    border-radius: 0.5vw;
    padding: 1vw;
    color: #fff;
}

.quizSect > button {
    color: #fff;
    background-color: #000;
    border: 0px solid var(--backgroundColor);
    border-radius: 0.5vw;
    padding: 1vh 2vw;
    font-size: small;
}

.qtitle {
    background-color: #a70335;
    border-radius: 0.5vw;
    color: var(--textColor);
    padding: 0.25vw;
    color: #fff;
}

.mcqDiv span {
    line-height: 1.5 !important;
    color: #fff;
}

.divOneFveHt {
    text-align: left;
    line-height: 1.5;
}

[data-tooltip] {
    position: relative;
    text-decoration-line: underline;
    text-decoration-style: dotted;
    cursor: help;
}

[data-tooltip]:before, [data-tooltip]:after {
    position: absolute;
    top: 150%;
    left: 50%;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

[data-tooltip]:before {
    margin-top: 0.5vh;
    margin-left: -5vw;
    padding: 1vh 0.75vw;
    width: 10vw;
    border-radius: 5px;
    background-color: var(--accent);
    color: var(--accentText);
    text-align: center;
    content: attr(data-tooltip);
}

[data-tooltip]:after {
    margin-left: 0.3125vw;
    border-bottom: 5px solid var(--accent);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: "";
}

[data-tooltip]:hover:before, [data-tooltip]:hover:after {
    visibility: visible;
    opacity: 1;
}

#settingsTrigger {
    cursor: pointer;
}

.settingModalOverlay {
    position: fixed;
    display: none;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.61);
    backdrop-filter: blur(0.5em);
    -webkit-backdrop-filter: blur(0.5em);
}

.settingsModalContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.settingsPane {
    position: absolute;
    top: 10vh;
    width: 60vw;
    height: 80vh;
    background-color: var(--accent);
    color: var(--accentText);
    border-radius: 10px;
    padding: 0 2vw;
}

.settingsPane h1 {
    text-align: center;
    margin-top: 5vh;
}

.closeSettingsModal {
    position: absolute;
    right: 1vw;
    top: 1vw;
    width: 1.75vw;
    cursor: pointer;
}

.fadeOut {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.25s, opacity 0.25s linear;
}

.fadeIn {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.25s linear;
}